<nav class="fixed top-0 inset-x-0 z-50 flex justify-between items-center w-full h-12 bg-slate-700 px-3 text-gray-200">
  <div>
    <%= link_to "BLOG", content_path(type: 'posts'), data: { turbo_frame: 'dynamic-content-frame'} %>
  </div>
  <div>
    <ul class="flex items-center gap-x-4">
      <% if user_signed_in? %>
        <li data-controller="notification">
          <%# Notification icon %>
          <%= link_to content_path(type: 'notifications'), data: { turbo_frame: 'dynamic-content-frame' }, class: 'relative' do %>
            <%= raw %Q(
              <svg class="w-6 h-6 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path d="M224 0c-17.7 0-32 14.3-32 32v19.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416h400c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zM224 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3c25.8-40 39.7-86.7 39.7-134.6V208c0-61.9 50.1-112 112-112zM288 448h-64-64c0 17 6.7 33.3 18.7 45.3S236 512 253.3 512s33.3-6.7 45.3-18.7 18.7-28.3 18.7-45.3z"/>
              </svg>
              <span id="notification-count" data-notification-target="count" class="#{ @unread_notifications_count.zero? ? 'hidden' : '' } absolute -top-1 -right-1 z-10 bg-red-500 text-gray-200 text-xs rounded-full w-5 h-5 flex items-center justify-center">
                #{@unread_notifications_count}
              </span>
            ).html_safe %>
          <% end %>
        </li>
      <% end %>
      <li>
        <%# profile dropdown %>
        
        <div data-controller="dropdown">
          <div>
            <button type="button" data-action="dropdown#toggleMenu">
              <% if user_signed_in? %>
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image, class: "w-6 h-6 rounded-full"%>
                <% else %>
                  <svg class="fill-gray-200 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320l-64 0c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3l64 0c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
                <% end %>
              <% else %>
                <svg class="fill-gray-200 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M406.5 399.6C387.4 352.9 341.5 320 288 320l-64 0c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3l64 0c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/></svg>
              <% end %>
            </button>

          </div>
          <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" id="dropdown-menu" data-dropdown-target="menu">
            <ul>
              <li class="block px-4 py-2 text-sm text-gray-700">
                <%= link_to "Profile" %>
              </li>
              <% if user_signed_in? %>
                <li class="block px-4 py-2 text-sm text-gray-700">
                  <%= link_to "Sign out", destroy_user_session_path, data:{
                    turbo_method: :delete
                  } %>
                </li>
              <% else %>
                <li class="block px-4 py-2 text-sm text-gray-700">
                  <%= link_to "Login", user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>